#log {
	display: block;
	width: 100%;
	height: 100%;
}
.login {
	display: block;
	margin-right: auto;
	margin: 20px;
	margin-left: auto;
}

input {
	padding-left: 3px;
}
#logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}