.search_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.search_panel.active
{
	display: flex!important;
}
.search_panel_content
{
	width: 100%;
	height: 100%;
}
.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
	color: #929191;
}
.search_item:first-child
{
	width: 30.453%;
}
.search_item:nth-child(2)
{
	width: 30.453%;
}
.search_item:nth-child(3)
{
	width: 30.453%;
}
.search_item div
{
    display: table;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
    margin-bottom: 7px;
    margin-top: 7px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #fa9e1c;
}
.dropdown_item_select:focus
{
	outline-color: #fa9e1c;
}
.search_button
{
	font-size: 17px;
	font-weight: 600;
	color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: #0090c5;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
}
.search_button:hover
{
	opacity: 0.8;
}